body{ font-family: 'Roboto', sans-serif;}
h1{ font-size: 50px;}
.color-highlight{ color: rgba(11, 11, 122, 0.685);}
.name{color: coral;}
.half-width{
    width:45%;
    float:left;
    margin-left: 2%;
    padding-left: 1%;
}
.half-width img {
    width:50%;
}
.link-button{
    text-decoration: none;
    background-color:coral;
    padding:10px 20px;
    border-radius: 5px;
    font-weight: 700;
    color: white;
}